//ввод исходных данных по сетке в px

$grid-columns: 12;
$column-px: 70px;
$gutter: 30px;
$max-width: ($grid-columns * $column-px)+(($grid-columns - 1) * $gutter);

//пересчёт в проценты:

$column: ($column-px / $max-width) * 100%;
$gutter: ($gutter / $max-width) * 100%;

.col {
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // height: auto;
  // width: 100%;
  padding: 75px $column;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: ($column * $i) + ($gutter * ($i - 1));
  }
}

@for $i from 1 through ($grid-columns - 1) {
  .offset-col-#{$i} {
    margin-left: ($column + $gutter) * $i;
  }
}

// .red-text {
//   color: red;
// }
//
// @for $i from 1 through $grid-columns {
//   .col-#{$i} {
//   @extend .red-text;
//   }
// }
