@import "app/libs/bourbon/app/assets/stylesheets/_bourbon.scss";

@import "_grid-settings.scss";
@import "app/libs/neat/app/assets/stylesheets/_neat.scss";

.ingredients {
  background-image: url('../img/ingredients__background.jpg');
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 2000px;
  //background-color: aquamarine;
  margin-left: auto;
  margin-right: auto;
}
.container {
  @include outer-container;
}

.ingredients article {
  @include span-columns(6);
  @include shift(6);
  background-image: url('../img/ingredients__text-block--background.png');
  position: relative;
  top: em(100);
  right: 0;
  height: em(567);
}
