@import "app/libs/bourbon/app/assets/stylesheets/_bourbon.scss";

@import "_grid-settings.scss";
@import "app/libs/neat/app/assets/stylesheets/_neat.scss";

.wrapper {

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;


}
.container {
    @include outer-container;
}

.text-block {
  @include span-columns(6);
  @include shift(6);
  position: relative;
  top: -662px;
  height: 557px;
  color: white;
  // background-color: aquamarine;
  background-image: url('../img/ingredients__text-block--background.png');
  background-repeat: no-repeat;
}
